<div th:fragment="footer" xmlns:th="http://www.w3.org/1999/xhtml">
  <footer class="navbar navbar-expand-lg navbar-dark bg-gray text-center text-lg-start mt-4">
    <div class="container p-4">
      <p class="text-muted fw-light fs-6 border-top pt-3">
        <a class="text-decoration-none fw-light fs-6 p-2 text-primary">
          <span style="color: black;">Автор сайта: </span>
          <span style="color: gold;"><b><a href="https://github.com/Blagov13" style="color: #AA9903; text-decoration: none; font-weight: bold">Благов Александр</a></b></span>.
        </a>
        <br>
        <a class="text-decoration-none fw-light fs-6 p-2 text-primary">
          <span style="color: black;">На базе курса: </span>
          <span style="color: gold;"><b><a href="https://job4j.ru" style="color: #AA9903; text-decoration: none; font-weight: bold">Job4j</a></b></span>.
        </a>
      </p>
    </div>
  </footer>
</div>
